@import url('./theme-light.css');
@import url('./theme-dark.css');
:root {
  --radius:20px;
  --radius-sm:12px;
  --radius-control:16px;
  --font:"Segoe UI","PingFang SC","Microsoft YaHei",sans-serif;
}
